* {
  margin: 0;
  padding: 0;
  /*font-family: Verdana;*/
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3c3ca8;
}

.screen_result {
  color: white;
  width: 150px;
  background-color: #2020c3;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}
.screen_result h1.red {
  color: red;
}
.btn_container {
  margin-top: 20px;
  display: flex;
  gap: 10px;

}
.btn_container button {
  cursor: pointer;
  width: 100px;
  border: none;
  color: white;
  background-color: #2020c3;
  border-radius: 5px;
}

.btn_container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
